/* ========================= */
/* HEADER E NAVEGAÇÃO        */
/* ========================= */
.header-inner {
   display: grid !important;
   grid-template-columns: auto 1fr auto;
   align-items: center;
   gap: 12px;
}
.header-inner>div:first-child {
   justify-self: start;
   display: flex;
   align-items: center;
   gap: 12px;
}
.header-inner>nav {
   justify-self: center;
   display: flex;
   gap: 5rem;
   background: rgba(0, 0, 0, .00);
}
.header-inner>div:last-child {
   justify-self: end;
   display: flex;
   gap: 8px;
   align-items: center;
}
#btn-logout {
   order: -1;
   margin-right: var(--logout-offset);
}
#btn-new {
   order: 0;
}
